body{
    color: var(--Gray);
    font-family: 'Roboto', sans-serif;

}

.navbar{
    background-color: var(--Primary-extra-light-light);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-brand img{
    height: 25%;
    width: auto;
}
.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}
.nav-link{
    color: var(--Gray-dark) !important;
}
.nav-link:hover{
    color: var(--Primary-light) !important;
    border-bottom: 2px solid var(--Primary-light);
}
.nav-link.active {
    color: var(--Primary-dark) !important;
    font-weight: bold;
    border-bottom: 2px solid var(--Primary-dark);
}
.dropdown-menu{
    background-color: var(--Secondary);
}
.dropdown-item{
    color: var(--Gray);
}
.dropdown-item:hover{
    background-color: var(--Secondary-light);
    color: var(--Gray-dark);
}
.hero{
    min-height: 70vh;
    background: var(--Primary-gradient);
    display: flex;
    align-items: center;
    padding-top: 80px;
}
.heroSection{
    justify-content: center;
    align-items: center;
}
.heroImg{
    width: 100%;
    padding: 34px 40px;
}
/* `xl` applies to large devices (desktops, less than 1200px) */
/* lg screen */
@media (max-width: 1199.98px) {
    .heroImg{
        padding: 20px;
    }
}
/* `lg` applies to medium devices (tablets, less than 992px) */
/* md screen */
@media (max-width: 991.98px) {
    .heroImg{
        padding: 12px;
    }
}
.sectionTitle{
    text-align: center;
    margin-bottom: 20px;
}
.card{
    margin: 10px 0px;
}

.footer{
    background: var(--Primary-gradient-rev);
    text-align: center;
    padding: 30px;
    margin-top: 60px;
}
/* md screen */
@media (max-width: 991.98px) {
   .footer{
       padding: 30px 90px;
   }
}
/* sm screen */
@media (max-width: 767.98px) {
    .footer{
        padding: 30px 40px;
    }
 }
 /* xs screen */
 @media (max-width: 575.98px) {
    .footer{
        padding: 30px 20px;
    }
 }
.footer p, .footer a, .footer h5{
    margin: 6px auto; 
    /* auto evenly spaces */
}

.icon{
    font-size: 20px;
    color: var(--Gray);
}


/* buttons */
.btn-primary{
    background-color: var(--Primary);
    border-color: var(--Primary);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: var(--Primary-light);
    border-color: var(--Primary);
}
.btn-primary:focus{
    box-shadow: 0 0 0 0.25rem var(--Primary-extra-light-90);
}
/* secondary buttons */
.btn-secondary{
    background-color: var(--Secondary);
    border-color: var(--Secondary);
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active{
    background-color: var(--Secondary-light);
    border-color: var(--Secondary);
}
.btn-secondary:focus{
    box-shadow: 0 0 0 0.25rem var(--Secondary-extra-light-90);
}