:root{
    /* Color System */
    --Primary-dark:#0800D1;
    --Primary: #6100E9;
    --Primary-light: #995DF0;
    --Primary-extra-light: #EFE4FC;
    --Primary-extra-light-90: rgba(201 188 217 / 90%);
    --Primary-gradient: linear-gradient(180deg, #EFE4FC 0%, rgba(239, 228, 252, 0) 100%);
    --Primary-gradient-rev: linear-gradient(180deg, rgba(239, 228, 252, 0) 0%, #EFE4FC 100%);
    --Secondary-dark: #A200DB;
    --Secondary: #D600E9;
    --Secondary-light: #E988F1;
    --Secondary-extra-light: #FAE3FB;
    --Danger-dark: #B10068;
    --Danger: #EE008D;
    --Danger-light: #F183BE;
    --Danger-extra-light: #FBE1EF;
    --Warning-dark: #E5410F;
    --Warning: #EE5F14;
    --Warning-light: #FF8E1F;
    --Warning-extra-light: #FFF2E0;
    --Success-dark: #08B226;
    --Success: #90F138;
    --Success-light: #C6F894;
    --Success-extra-light: #F2FEE5;
    --Gray-dark: #272727;
    --Gray: #595959;
    --Gray-light: #767676;
    --Gray-extra-light: #E0E0E0;
    --white: #FFFFFF;

    /* font sizes */
    --font-size-normal:1rem;
    --font-size-small:0.875rem;

    /* font family */
    --font-family-normal: 'Roboto', sans-serif;

}