:root{
    /* Color System */
    --Primary-dark:#BE4652;
    --Primary: #DF7C83;
    --Primary-light: #F7BAC4;
    --Primary-extra-light: #FBE3E8;
    --Primary-extra-light-90: rgba(251, 227, 232, 0.9);
    --Primary-extra-light-light: #FCEBEF;
    --Primary-gradient: linear-gradient(180deg, #FBE3E8 0%, rgba(239, 228, 252, 0) 100%);
    --Primary-gradient-rev: linear-gradient(180deg, rgba(239, 228, 252, 0) 0%, #FBE3E8 100%);
    --Secondary-dark: #65D1BB;
    --Secondary: #8CE0CF;
    --Secondary-light: #B7EBE0;
    --Secondary-extra-light: #E1F7F4;
    --Danger-dark: #C02C10;
    --Danger: #D05217;
    --Danger-light: #E79460;
    --Danger-extra-light: #F3BD9A;
    --Warning-dark:#D09325;
    --Warning: #CFC02F;
    --Warning-light:#E7DD7B;
    --Warning-extra-light:#F1EBA9;
    --Success-dark: #478647;
    --Success: #71D473;
    --Success-light: #A2F4A6;
    --Success-extra-light: #D4FAD6;
    --Gray-dark: #272727;
    --Gray: #595959;
    --Gray-light: #767676;
    --Gray-extra-light: #E0E0E0;
    --white: #FFFFFF;

    /* font sizes */
    --font-size-normal:1rem;
    --font-size-small:0.875rem;

    /* font family */
    --font-family-normal: 'Roboto', sans-serif;

}